# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
.venv/
venv/
env/
dist/
build/
*.egg-info/
.eggs/

# Env files
.env
!.env.example

# Node
node_modules/
dist/
.cache/
*.local

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
